<!-- Navbar -->
<%- include("../client/layout/layoutSidebar.ejs") %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Thông tin tài khoản</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#" class="amount-account"></a></li>
                            <li class="breadcrumb-item active" id="username-account"></li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        Token của bạn là : <label id="token-user"></label>
                    </div>
                    <div class="row">
                        <h4>API lấy số điện thoại</h4>
                    </div>
                    <div class="row">
                        <p>http://ktool.site/api/v1/thueso/create?tokenid={token của bạn}&quocgia={vn1 hoặc vn2 hoặc cam...}&dichvu={Google hoặc Discord hoặc Telegram....}</p>
                        
                    </div>
                    <div class="row"><p>Ví dụ</p></div>
                    <div class="row"><p>http://ktool.site/api/v1/thueso/create?tokenid=65170ce2bf4d11f4acfb99f45&quocgia=cam&dichvu=Google</p></div>
                    <div class="row"><p>response: {<br>
                        "code": 200,<br>
                        "data": {<br>
                            "userID": "65170ce2bf4....",<br>
                            "codeID": "651c9c2567ffc6a58c60ef08", (codeID dùng cho lấy otp)<br>
                            "phoneNumber": "8459800...",<br>
                            "brand": "Google",<br>
                            "status": 0,<br>
                            "otp": "",<br>
                            "createdAt": "2023-10-03T22:56:38.738Z",<br>
                            "updatedAt": "2023-10-03T22:56:38.738Z",<br>
                            "timeCreatePhone": "2023-10-03T22:56:38.738Z"
                        }
                    }</p></div>
                    <div class="row">
                        <h4>API lấy otp</h4>
                    </div>
                    <div class="row">
                        <p>http://ktool.site/api/v1/thueso/detail?tokenid={token của bạn}&code={codeID data trả về của lấy số điện thoại}</p>
                    </div>
                    <div class="row"><p>Ví dụ:</p></div>
                    <div class="row"><p>http://ktool.site/api/v1/thueso/detail?tokenid=65170ce2bf4d11f4acfb99f45&code=65352e816d2de34c3fa5d2e32</p></div>
                    <div class="row"><p>response: {<br>
                        "code": 200,<br>
                        "data": {<br>
                            "status": false,<br>
                            "otp": "",<br>
                            "id": "651c9c2567ffc6a58c60ef08",<br>
                            "brand": "Google"<br>
                            "time": "2023-10-03T22:56:38.738Z"
                        }
                    }</p></div>
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <%- include("../client/layout/layoutFooter.ejs") %>

        <script>
           $(document).ready(function() {
            let user = localStorage.getItem("user");
            if(user && user.length > 0) {
                user = JSON.parse(user);
            }
            $("#token-user").text(user._id);
           })
        </script>