<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/style-client.css">
    <title>Ktool Dịch vụ mạng xã hội uy tín số 1</title>
</head>

<body>
    <div class="main-site">
        <div class="d-flex flex-column flex-center w-100 min-h-350px min-h-lg-500px px-9 pt-5">
            <div class="text-center mb-5 mb-lg-10 py-10 py-lg-20">

                <h1 class="text-white lh-base fw-bolder fs-2x fs-lg-3x mb-15">
                KTOOL dịch vụ cho thuê sim OTP
                <br><br>
                <span id="kt_landing_hero_text"><a target="_blank" style="color: yellow;" href="https://t.me/Minhtri2017">Liên hệ với admin để đăng ký tài khoản sử dụng</a></span>
                </span>
                </h1>
                
                <br><br>
                <a href="/login" class="btn btn-primary">Login</a>
                
                </div>
        </div>
    </div>


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

</body>

</html>