<footer class="main-footer">
    <strong>Copyright &copy; 2023 <a href="#">Ktool.site</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<div class="loading-wp">
  <div class="loading-w">
    <span class="loader"></span>
  </div>
  
</div>

<!-- ./wrapper -->
</body>
</html>